name: "PR checks"

on:
  pull_request:

permissions:
  contents: read

env:
  GO_VERSION: 1.19.3

jobs:
  lint-protos:
    runs-on: ubuntu-latest
    steps:
      # Install the `buf` CLI
      - uses: bufbuild/buf-setup-action@v1
        with:
          github_token: ${{ github.token }}
      - name: Checkout repository
        uses: actions/checkout@v3
      # Lint your Protobuf sources
      - uses: bufbuild/buf-lint-action@v1
        with:
          input: protobuf

  buf-format:
    runs-on: ubuntu-latest
    steps:
      # Install the `buf` CLI
      - uses: bufbuild/buf-setup-action@v1
        with:
          github_token: ${{ github.token }}
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Buf format check
        run: buf format -d --exit-code

  buf-breaking-changes:
    runs-on: ubuntu-latest
    steps:
      # Install the `buf` CLI
      - uses: bufbuild/buf-setup-action@v1
        with:
          github_token: ${{ github.token }}
      - name: Checkout repository
        uses: actions/checkout@v3
      # Run breaking change detection against the last commit
      - uses: bufbuild/buf-breaking-action@v1
        with:
          input: protobuf
          against: 'https://github.com/open-feature/schemas.git#branch=main,ref=HEAD~1,subdir=protobuf'
  
  validate-schema:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ env.GO_VERSION }}
      # Run go test suirte to validate the json schema against positive and/or negative validations in /json/test
      - name: Validate Schema
        run: go test -v ./json

      # Ensure there is no dif when make gen-schema-yaml is run 
      - run: make gen-schema-yaml
      - name: Check no diff 
        run: |
          if [ ! -z "$(git status --porcelain)" ]; then echo "Yaml schema generation produced diff. Run 'make gen-schema-yaml' and commit results."; exit 1; fi

